# Exerc√≠cio de Casa üè†  - Parte 1: Netflix

# Agora √© sua vez de colocar a m√£o na massa! Responda as seguintes perguntas sobre os dados:

#1Ô∏è‚É£ Quantos usu√°rios utilizam a Netflix pelo Tablet? 2Ô∏è‚É£Qual √© a representatividade (em %) do sistema operacional(device) mais utilizado para assistir Netflix?
#3Ô∏è‚É£ Crie visualiza√ß√µes que responda as seguintes perguntas: 
# Qual √© o sistema operacional(device) mais usado para cada faixa et√°ria? 
# Existe algum padr√£o? O tipo de aparelho muda de acordo com o grupo de idade?**
# No Brasil, qual √© o sistema operacional mais utilizado?

# Professora Camila, abaixo segue: 

#**Visualiza√ß√µes utlizando as bibliotecas pandas e jupiter.**

#**Respostas registradas em  markdown e dataframe**

In [4]:
# importando biblioteca pandas 
import pandas as pd

In [5]:
# importando os dados do arquivo csv Netflix
df_netflix = pd.read_csv('netflix.csv')
df_netflix

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Premium,14,25-07-22,12-07-23,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,04-08-22,14-07-23,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,09-08-22,15-07-23,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,12-08-22,12-07-23,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,13-08-22,12-07-23,United States,35,Female,Smart TV,1 Month


**1) Quantos usu√°rios utilizam a Netflix pelo Tablet?**

**Resposta: 633 usu√°rios**

In [9]:
# Contagem dos usu√°rios que utilizam a Netflix pelo Tablet
tablet_users_count = df_netflix[df_netflix['Device'] == 'Tablet'].shape[0]

# A fun√ß√£o print imprimi os resultados 
print(f"N√∫mero de usu√°rios que utilizam a Netflix pelo Tablet: {tablet_users_count}")

N√∫mero de usu√°rios que utilizam a Netflix pelo Tablet: 633


**2) Qual √© a representatividade (em %) do sistema operacional(device) mais utilizado para assistir Netflix?**

**Resposta: Mais utilizado √© o laptop com 633 e sua representatividade √© 25,44 %**

In [8]:
# Contando a frequ√™ncia de cada dispositivo
device_count = df_netflix['Device'].value_counts()

# Quantidade do dispositivo mais utilizado e sua frequ√™ncia
most_used_device = device_count.idxmax()  
most_used_device_count = device_count.max()  

# Totalizando o dispositivo mais usado
total_devices = device_count.sum()

# C√°lculo de porcentagem
representativity = (most_used_device_count / total_devices) * 100

# A fun√ß√£o print imprimi os resultados 
print(f"O dispositivo mais utilizado √©: {most_used_device}")
print(f"Quantidade de uso: {most_used_device_count}")
print(f"Representatividade: {representativity:.2f}%")

O dispositivo mais utilizado √©: Laptop
Quantidade de uso: 636
Representatividade: 25.44%

**3) Crie visualiza√ß√µes que responda as seguintes perguntas:**
   
**a) Qual √© o sistema operacional(device) mais usado para cada faixa et√°ria?**

**Resposta: 25-34 - Tablet - 213**
          **35-44 - Laptop - 280**
          **45-54 - Tablet - 176**

**b) Existe algum padr√£o? O tipo de aparelho muda de acordo com o grupo de idade?**

**c) No Brasil, qual √© o sistema operacional mais utilizado?**

resposta O sistema operacional mais utilizado no Brasil √©: Smartphone

In [10]:
# Definindo as faixas et√°rias
def age_group(age):
    if age < 18:
        return 'Menos de 18'
    elif age <= 24:
        return '18-24'
    elif age <= 34:
        return '25-34'
    elif age <= 44:
        return '35-44'
    elif age <= 54:
        return '45-54'
    elif age <= 64:
        return '55-64'
    else:
        return '65 ou mais'

In [12]:
# Filtrando os dados 
df_netflix['Age Group'] = df_netflix['Age'].apply(age_group)

In [13]:
#Agrupamento para identificar a faixa est√°ria e o uso de cada dispositivo
device_by_age_group = df_netflix.groupby(['Age Group', 'Device']).size().reset_index(name='Count')

In [14]:
# Esse c√≥digo indica o dispositivo mais usado (por faixa et√°ria)
most_used_device_by_age = device_by_age_group.loc[device_by_age_group.groupby('Age Group')['Count'].idxmax()]

In [15]:
# A fun√ß√£o print imprimi os resultados 
print(most_used_device_by_age)

   Age Group  Device  Count
3      25-34  Tablet    213
4      35-44  Laptop    280
11     45-54  Tablet    176

In [16]:
# Filtrando os dados (apenas os usu√°rios do Brasil)
df_brazil = df_netflix[df_netflix['Country'] == 'Brazil']

#Verificando cada dispositivo no Brasil
device_count_brazil = df_brazil['Device'].value_counts()

#Informando o dispositivo mais utilizado no Brasil
most_used_device_brazil = device_count_brazil.idxmax()

#A fun√ß√£o print imprimi os resultados 
print("O sistema operacional mais utilizado no Brasil √©:", most_used_device_brazil)

O sistema operacional mais utilizado no Brasil √©: Smartphone